@model List<Blog.Models.Category>
@{
    ViewBag.Title = "ListCategories";
}

<div class="form-group">
        <h2 class="text-center">CATEGORIES</h2>
        @foreach (var category in Model)
        {
            <h1 class="well">
            @Html.ActionLink(string.Format($"{category.Name}({category.Articles.Count()})"), "ListArticlesOfCategory", "Category", new { @id = category.Id }, null)
            </h1>
        }
    
    </div>


