@model List<Blog.Models.Article>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <div >
            
            @foreach (var article in Model)
            {
                <article class="col-sm-6">
                    <h2>
                        @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, null)

                    </h2>

                
                        <small class="author pull-left">
                            --author @article.Author.FullName
                        </small>
                   
                    <footer class="container">
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                @Html.ActionLink(tag.Name, "ListArticlesByTag", "Tag", new { @id = tag.id }, new { @class = "btn btn-default btn-xs " })
                            }
                        </div>
                    </footer>
                </article>
            }
               
    </div>
</div>
