@model List<Blog.Models.Article>
@{
    ViewBag.Title = "List";
}

<div class="container">

    @foreach (var article in Model)
    {
        <article class="col-sm-4">
            <h2>
                @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, null)
               
            </h2>
            <p>
                @article.Content
            </p>
            <footer class="pull-right">
                <small class="author">
                    --author @article.Author.FullName
                </small>
            </footer>

        </article>
    }

</div>
