@model List<Blog.Models.Article>
@{
    ViewBag.Title = "ListArticlesOfCategory";
}

    <h1 class="text-center">ARTICLES</h1>
 <div class="container">
      
        @foreach (var article in Model)
        {
            <article class="well">
                <h2>
                    @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, null)
                    
                </h2>              
                <footer class="pull-left">
                    <small class="author">
                        --author @article.Author.FullName
                    </small>
                </footer>

            </article>
        }

 </div>

